*{
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

header {
	border-bottom: 2px solid gray;
}

h1 {
	margin: auto;
	font-family: Trebuchet MS;
	text-align: left;
}


/*.topnav a:hover {
	border-bottom: 2px solid black;
}*/

main {
    display: grid;
    grid-template-columns: 15% 60%;
}

.cap {
	height: 100px;
	display: flex;
	box-sizing: border-box;
	background: #FFE4B5;
}

.logo {
	width: auto;
}

.menu {
	position: absolute;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
    border-right: 2px solid gray;
    background: white;
	font-size: 14px;
}

.menu a {
	color: black;
	text-align: left;
	padding: 14px 16px;
	font-size: 18px;
}

.menu li {
    position: relative;
    padding: 50px 10px;
}

.menu li::after {
    content: '';
    float: both;
    display: block;
    width: 90%;
    height: 1px;
    background-color: gray;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -45%;
}