*{
	padding: 0;
	margin: 0;
}

form {
	display: flex;
	flex-direction: column;
	width: 400px;
	margin: auto;
	padding: 20px;
}

input {
	margin: 10px 0;
	padding: 10px;
	border: unset;
	border-bottom: 2px solid #d3d3d3;
	outline: none;
}

button {
	padding: 10px;
	background: #d3d3d3;
	border: unset;
	cursor: pointer;
	outline: none;
	border-radius: 3em;
}

select {
	padding: 10px;
	margin: 10px 0;
	cursor: pointer;
	border-radius: 3em;
	outline: none;
}